<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="downloadDirectory" value="C:\Temp\Relatorio" />
      <add key="reportingServiceUser" value="" />
      <add key="reportingServicePassword" value="" />
      <add key="reportingServiceURL" value="http://HOST/Reports/Pages/Folder.aspx?ItemPath=%2fPortalBematize&amp;ViewMode=List" />
      <add key="zipFiles" value="false" />
      <add key="downloadInterval" value="0" />
      <add key="timeoutLoadPage" value="0" />
      <add key="SSRSVersion" value="2003" />
    </appSettings>
</configuration>